.header {
	font-family: monospace;
}
.link {
	color: green;
	float: left;
	text-decoration:none;
}
.link-descr {
	visibility: hidden;
}
.link:hover > .link-descr {
	visibility: visible;
}

.forever {
	overflow:hidden;
}
